@import "tailwindcss";
@import "vidstack/styles/base.css";
@import "vidstack/styles/defaults.css";
@import "vidstack/styles/ui/buffering.css";
@import "vidstack/styles/ui/buttons.css";
@import "vidstack/styles/ui/captions.css";
@import "vidstack/styles/ui/live.css";
@import "vidstack/styles/ui/menus.css";
@import "vidstack/styles/ui/sliders.css";
@import "vidstack/styles/ui/tooltips.css";
@import "vidstack/styles/community-skin/video.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  cursor: none !important;
}

a,
button,
input,
textarea,
select {
  cursor: none !important;
}

@layer utilities {
  .animate-slow-glow {
    animation: slow-glow 8s ease-in-out infinite alternate;
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}

@keyframes slow-glow {
  0% {
    opacity: 0.3;
    transform: scale(1);
    filter: blur(80px);
  }

  100% {
    opacity: 0.6;
    transform: scale(1.1);
    filter: blur(100px);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}